<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
            '@AppTreeBundle/Resources/public/css/master.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block addCSS %}

    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% javascripts 
            'assets/vendor/jquery/jquery.min.js'
            'assets/vendor/jquery-ui/ui/minified/jquery-ui.min.js'
            'assets/vendor/angular/angular.min.js'
            'assets/vendor/angular-ui-sortable/sortable.min.js'
            '@AppTreeBundle/Resources/public/angular/controller.js'
            '@AppTreeBundle/Resources/public/angular/directives.js'
            '@AppTreeBundle/Resources/public/angular/services.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    
    {% block addJavaScript %}

    {% endblock %}
</body>

</html>
